Tuple are use to store multiple values in a single variable
tuple is one of the 4 built in data types 
it is used to store collections of data 
and the list , sets and dictionary 
it is in ordered
it is immutable
they cant be change once you create
it ia container to store multiple data types like int flaot string and then no changes
it is represnted by ()

 # properties 
1.ordered
2. immutable - no add, no remove
3.hetrogenous 
4.indexing
5.itreable - loop can easily perform
6.fixed in size
7.duplicay alllowed

In [1]:
a =(10,20,30)
print(a)

(10, 20, 30)

In [2]:
print(type(a))

<class 'tuple'>

In [3]:
tup = ()
print(type(tup))

<class 'tuple'>

single element

In [4]:
b = (5)
print(b)
print(type(b))

5
<class 'int'>

In [5]:
b =(5,)
print(type(b))

<class 'tuple'>

mixed dataype

In [6]:
b = (1,2.6,2,5,6.3,"Prachi",True, False)
print(b)

(1, 2.6, 2, 5, 6.3, 'Prachi', True, False)

nested tuple

In [7]:
a = (1,2,3,(40,50,90,2.6))
print(a)

(1, 2, 3, (40, 50, 90, 2.6))

In [8]:
print(type(a))

<class 'tuple'>

tuple in list

In [9]:
a = (1,2,3,4,56,[78,9],[45,65,78,23,96,78])
print(a)

(1, 2, 3, 4, 56, [78, 9], [45, 65, 78, 23, 96, 78])

tuple constructor

In [10]:
empty = tuple()
print(type(empty))
print(empty)

<class 'tuple'>
()

# coverting list into tuple

In [12]:
list = [1,2,3,45,6,78,9]
number = tuple(list)
print(number)
print(type(number))

(1, 2, 3, 45, 6, 78, 9)
<class 'tuple'>

In [13]:
string = "Hello"
str = tuple(string)
print(str)
print(type(str))

('H', 'e', 'l', 'l', 'o')
<class 'tuple'>

In [17]:
tup = (4,56,7,89,4,56,4)
new_tup =tup.index(56)
print(new_tup)

1

In [18]:
new_tup = tup.count(56)
print(new_tup)

2

Two method - index and count

# converting dictonaries into tuple- only keys will print not values

In [19]:
dict = {'a':1,'b':2,'c':3}
print(dict)
print(type(dict))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [20]:
new_dict = tuple(dict)
print(new_dict)
print(type(new_dict))

('a', 'b', 'c')
<class 'tuple'>

 # converting a set in to tuple

In [21]:
set = {1,2,3,4,5}
print(set)
print(type(set))

{1, 2, 3, 4, 5}
<class 'set'>

In [22]:
print(set)

{1, 2, 3, 4, 5}

In [23]:
new_set = tuple(set)
print(type(new_set))
print(new_set)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [24]:
my_list =[1,2,3,4]
new_list = tuple(my_list)
print(new_list)

(1, 2, 3, 4)

In [26]:
empty_tuple = tuple()
print(empty_tuple)

()

Indexing

In [27]:
tup = (1,2,3,4,66,7,89)
print(tup[0])
print(tup[-1])

1
89

In [28]:
tup = (1,2,3,4,66,7,89)
print(tup[:4])

(1, 2, 3, 4)

In [29]:
tup = (1,2,3,4,66,7,89)
print(tup[0:])

(1, 2, 3, 4, 66, 7, 89)

In [30]:
tup = (1,2,3,4,66,7,89)
print(tup[-1:-4])

()

In [31]:
tup = (1,2,3,4,66,7,89)
print(tup[-1])
print(tup[-3])

89
66

In [32]:
print(tup[::2])

(1, 3, 66, 89)

slicing negative index

In [33]:
tup =[1,2,3,4,5,6,7,8,9]
print(tup[-1])

9

In [34]:
print(tup[-3:])

[7, 8, 9]

In [37]:
tup =[1,2,3,4,5,6,7,8,9]
tup.reverse()
print(tup)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
t = [1,2,3,4,5,6,7,8]
print(t[::])

[1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
print(t[3:])

[4, 5, 6, 7, 8]

In [40]:
print(t[:4])

[1, 2, 3, 4]

In [41]:
print(t[-2:-5])

[]

In [43]:
a = (12,1,5,46,7,8, 4 ,4 )
print(a)

(12, 1, 5, 46, 7, 8, 4, 4)

# tuple

 # once a tuple is created you cannot change its value tuples are immutable

In [57]:
x = (12,4,5,7,8,12,45,1)
y = list(x)

TypeError: 'list' object is not callable

In [58]:
tup1 = ("Pyhton","java","html","css")
y = ("code",)
tup1+=y
print(tup1)

('Pyhton', 'java', 'html', 'css', 'code')

In [59]:
fruits =("apple", "banana","orange")

fruits_list  = list(fruits)
print(fruits_list)

TypeError: 'list' object is not callable

In [60]:
thistuple = ("a","b","c")
for x in thistuple:
    print(x)

a
b
c

 # join two tuples

In [64]:
tup1 = [1,2,3,4,5]
tup2 = [6,7,8,9,10]
tup3 = tup1+tup2
print(tup3)
mytup = tup1*2
print(mytup)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]